

/* 🎨 Definimos la paleta de colores como variables CSS */
:root {
  --azuloscuro: #1D2A3E;
  --color-celeste: #55C3D9;
  --color-gris-claro: #f5F5F5;
  --color-texto-claro: #FFFFFF;

  --color-claro: #313A4D;
}


.bg-sidebar {
  background-color: var(--azuloscuro);
}

.text-sidebar {
  color: var(--color-texto-claro);
}

.bg-gris {
	background-color: var(--color-gris-claro);
}


.btn-Activado[aria-current="page"]{
	background-color: var(--color-celeste);
}

.btn-Activado:hover{
	background-color: var(--color-celeste);
}

.btn-sinActivar{
	background-color: var(--color-claro);
}

.h1{
  font-weight:600;
  font-size: 25px;  
  color: var(--azuloscuro);
}

.h2{
  font-weight:400;
  font-size: 16px;  
  color: var(--azuloscuro);
}

